name: Go tests
run-name: Running tests
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: [ '1.22' ]
    name: Go ${{ matrix.go }}
    steps:
      - uses: actions/checkout@v4 # Checks out the code
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go }}
      - name: Run staticcheck
        run: |
          go install honnef.co/go/tools/cmd/staticcheck@latest
          make static
      - name: Run test
        run: make test
      - name: Run test-race
        run: make race
